{% load static %}
<!DOCTYPE html>
<link rel="stylesheet" href="{% static 'todolist/style.css' %}">

<html>
<head>
    <title>Edit</title>
</head>
    <body>
        <h2>choose task to edit</h2>

        <h4>Tasks: </h4>
        {% for task in task_list %}
            <li><a href="{% url 'todolist:taskedit' task.id %}">-{{task.task_desc}}</a></li>
            <br>
        {% endfor %}
        <br><br><br>
        <a href="{% url 'todolist:todoview' %}">
            <button>go back to view page</button>
        </a>
    </body>
</html>