{% load static %}
<!DOCTYPE html>

<link rel="stylesheet" href="{% static 'main_site/style.css' %}">
<html>
    <head>
        <title>Todo app</title>
    </head>

    <body>


        <h1>this is a todolist app</h1>
        <h3>click the buttons below:</h3>

        <a href="{% url 'todolist:todoview' %}">
            <button>click here to view list of tasks</button>
        </a>
        <br>
        <br>
        <a href="{% url 'todolist:todoadd' %}">
            <button>click here for adding a task</button>
        </a>
    </body>
</html>